%h4= message.subject

%ul
  %li
    = 'name: '
    %span{ style: 'color: #E34D26' }= @resource.name
  %li
    = 'email: '
    %span{ style: 'color: #E34D26' }= @resource.email
  %li
    = 'type: '
    %span{ style: 'color: #E34D26' }= @resource.type
  %li
    = 'message: '

%pre{ style: 'color: #E34D26' }
  = preserve do
    = @resource.message

%p --
%p The Fousa Bot
