!!!
%html{ lang: 'en' }
    %head
        %title= "Fousa - #{yield_content(:title)}"

        = render :haml, :'partials/head'

        %link{ rel: 'stylesheet', href: '/css/page.css' }

    %body
        .work 
            = yield
            
            .container-fluid= render :haml, :'partials/footer'