.content
  = simple_form_for(@invoice, remote: true) do |f|
    = hidden_field_tag :filter_date, params[:filter_date]
    - date = @invoice.invoiced_at ? l(@invoice.invoiced_at, format: :default) : ''
    = f.input :invoiced_at, as: :string, input_html: { class: 'datepicker', value: date }
    = f.input :name
    = f.input :total_price
    = f.input :tax_price
    - if @invoice.new_record?
      .pull-right= f.input :another, as: :boolean, label: 'Add another'
    = ladda_button_tag f.object, 'invoice' 

:javascript
  $('.datepicker').datepicker({ 
    format: 'dd-mm-yyyy',
    autoclose: true
  });
  $('.simple_form').bind('submit', function () {
    var laddaButton = Ladda.create(document.querySelector('.ladda-button'))
    laddaButton.start();
  });
