%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.right{ colspan: '2' } N°
      %th Name
      %th Customer
      %th.right{ style: 'width: 100px' } Price
      %th.hidden-xs{ style: 'width: 50px' }

  %tbody
    - invoices.each do |invoice|
      %tr{ id: "invoice-#{invoice.id}" }
        %td{ style: 'width: 30px' }= export_tag ''
        %td.right{ style: 'width: 130px' }
          = l invoice.invoiced_at, format: :long
          %span.subtext= invoice.invoice_number
        %td
          - if invoice.complete?
            = invoice.name
          - else
            %span.label.label-danger= invoice.name
        %td= invoice.customer.try :name
        %td.right
          = number_to_currency invoice.total_price
          %span.subtext= number_to_currency invoice.tax_price
        %td.hidden-xs
          = edit_tag edit_invoice_path(invoice), remote: true
          = delete_tag invoice, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

