.banner
    %img{ src: 'images/fousa.svg' }
    %h1
        %span.title fousa
        %span.subtitle I craft awesome apps

.content
    %h3 Hi, I'm Jelle!
    .boxed
        %img{ src: 'images/me.png' }
        %p I consider myself a passionate <strong>iOS developer</strong>. As a professional developer, I work on some nifty applications for the best clients. And when I have some time left, I try to create and sell my apps on the App Store.
        %p When I'm not writing code, you'll probably find me in the sky looking for thermals in my glider.

    %h3 Some of my work
    .container-fluid
        .row.squares
            - @apps.each do |app|
                .col-12.col-md-4.col-lg-2.nospacing
                    %a{ href: app.url }
                        .square
                            .zoom
                                %img{ srcset: "images/apps/#{app.image}.jpg 1x, images/apps/#{app.image}.jpg 2x" }

    .container-fluid.more
        .row
            .col-12
                %p
                    %span And many more:
                    = @more_apps.map { |a| a.url.nil? ? a.name : "<a href='#{a.url}'>#{a.name}</a>" }.join(', ')

    .container-fluid
        .row
            .col-12
                .contact
                    %p Jelle Vandebeeck <span>🇧🇪</span>
                    %ul.social
                        %li
                            %a.linkedin{ href: 'https://www.linkedin.com/in/fousa/', title: 'Contact me on LinkedIn' }
                        %li
                            %a.github{ href: 'https://www.github.com/fousa/', title: 'Contact me on Github' }
                        %li
                            %a.instagram{ href: 'http://instagram.com/fousa', title: 'Contact me on Instagram' }
                        %li
                            %a.twitter{ href: 'https://twitter.com/fousa', title: 'Contact me on Twitter' }