!!!
%html{ lang: 'en' }
    %head
        %title Fousa - Most of my work

        = render :haml, :'partials/head'

        %link{ rel: 'stylesheet', href: '/css/page.css' }

    %body
        .page 
            .container-fluid
                -# Header
                .row.text-center.header
                    %a{ href: '/' }
                        %img{ src: 'images/fousa.svg' }
                        %h1 fousa
                
                -# Sub header
                .row.text-center
                    .col-12
                        %h2= "I work(ed) on #{@project_count} wonderful projects"
                
                - @technologies.each do |technology|
                    -# Section
                    .row.technology
                        .col-12
                            %h3
                                = technology.name
                                %span.badge.rounded-circle.bg-danger= technology.projects.count

                    -# Projects
                    .row.projects
                        - technology.projects.each do |project|
                            .col-12.col-md-6.col-lg-4.col-xl-4.col-xxl-3.nospacing
                                - if project.respond_to?(:id)
                                    %a{ href: "/projects/#{project.id}" }
                                        .project
                                            %h4
                                                = project.name
                                                %span
                                                    %i.fas.fa-arrow-right
                                            %p.tags= project.tags.map { |tag| "##{tag}" }.join '&nbsp;'
                                            %p= project.description
                                - elsif project.respond_to?(:url)
                                    %a{ href: project.url }
                                        .project
                                            %h4
                                                = project.name
                                                %span
                                                    %i.fas.fa-external-link-alt
                                            %p.tags= project.tags.map { |tag| "##{tag}" }.join '&nbsp;'
                                            %p= project.description
                                - else
                                    .project
                                        %h4= project.name
                                        %p.tags= project.tags.map { |tag| "##{tag}" }.join '&nbsp;'
                                        %p= project.description
            
            .container-fluid= render :haml, :'partials/footer'