.work 
    .container-fluid
        .row.text-center
            %a{ href: '/' }
                %img{ src: 'images/fousa.svg' }
                %h1 fousa
        
        - @technologies.each do |technology|
            .row
                .col-12
                    %h3= technology.name

            .row.projects
                - technology.projects.each do |project|
                    .col-12.col-md-6.col-lg-4.col-xl-4.col-xxl-3.nospacing
                        - if project.url.nil?
                            .project
                                %h4= project.name
                                %p= project.description
                        - else
                            %a{ href: project.url }
                                .project
                                    %h4= project.name
                                    %p= project.description