.banner
  = image_tag 'fousa.svg'
  %h1
    %span.title fousa
    %span.subtitle I craft awesome apps

.content
  %h3 This is me
  .boxed
    = image_tag 'me.jpg'
    %p My name is Jelle Vandebeeck and I love iOS development. I craft the coolest applications for an Antwerp based company called <a href='http://icapps.com'>iCapps</a>. And in my spare time I try to create some handy iOS and Mac applications.
    %p When I'm not coding or drinking beer, you'll probably find me in the sky looking for some thermals.

  %h3 Here are some of the apps I created:
  .grid
    - @apps.each do |app|
      %figure
        = image_tag app.dashboard_image.url
        %figcaption
          %h2 
            = app.name
          %br
          %p= app.short_text
          = link_to 'View', app.detail_url

  .block
    %h3 Want to ask me something?
    .boxed
      %p Fill in the form and I'll get back to you as soon as possible.
      #contact-form= render partial: 'contacts/form'
