.banner
  = image_tag 'fousa.svg', class: 'fadeInDown animated'
  %h1
    %span.title.fadeIn.animated fousa
    %span.subtitle.fadeInUp.animated I craft awesome apps

.arrow.fadeInUp.animated= link_to '&nbsp;'.html_safe, ''

.content
  %h3 This is me
  .boxed
    %p My name is Jelle Vandebeeck and I love iOS development. I craft the coolest applications for an Antwerp based company called iCapps. And in my spare time I try to create some cool iOS and Mac appications.
    %p When I'm not coding or drinking beer, you'll probably find me somewhere in the sky looking for some thermals.

  %h3 Here are the apps I created:
  .grid
    %figure.effect-goliath
      = image_tag 'test.jpg'
      %figcaption
        %h2 
          GPX Reader
          %span for iOS
        %p Read your GPX and TCX files on your iOS device.
        %a View
    %figure.effect-goliath
      = image_tag 'test.jpg'
      %figcaption
        %h2 
          GPX Reader
          %span for iOS
        %p Read your GPX and TCX files on your iOS device.
        %a View
    %figure.effect-goliath
      = image_tag 'test.jpg'
      %figcaption
        %h2 
          GPX Reader
          %span for iOS
        %p Read your GPX and TCX files on your iOS device.
        %a View
    %figure.effect-goliath
      = image_tag 'test.jpg'
      %figcaption
        %h2 
          GPX Reader
          %span for iOS
        %p Read your GPX and TCX files on your iOS device.
        %a View
    %figure.effect-goliath
      = image_tag 'test.jpg'
      %figcaption
        %h2 
          GPX Reader
          %span for iOS
        %p Read your GPX and TCX files on your iOS device.
        %a View

  .content
    %h3 Want to ask me something?
    .boxed
      %p Fill in the form below and I'll get back to you as soon as possible.
