.content
  = simple_form_for(@customer, remote: true) do |f|
    = f.input :name
    = f.input :vat_number
    = f.input :address
    = f.input :postal_code
    = f.input :city
    = f.input :country
    - if @customer.new_record?
      .pull-right= f.input :another, as: :boolean, label: 'Add another'
    = ladda_button_tag f.object, 'customer' 
    

:javascript
  $('.simple_form').bind('submit', function () {
    var laddaButton = Ladda.create(document.querySelector('.ladda-button'))
    laddaButton.start();
  });
  
