= simple_form_for @contact, remote: true do |f|
  = f.input :name, label: 'Your name'
  = f.input :email, label: 'Your email'
  = f.input :type, collection: Contact.types, label: 'Do you have a question about one of my apps?', input_html: { class: 'selectpicker' }, prompt: 'I just want to ask something random'
  = f.input :message, as: :text, label: 'Your message'
  = f.input :captcha, as: :hidden
  = f.submit 'Send email', class: 'btn btn-primary'

:javascript
  $('.selectpicker').selectpicker();
