.content
  = simple_form_for(@app, remote: true) do |f|
    = f.input :name
    = f.input :name_suffix
    - unless @app.new_record?
      = f.input :slug
    = f.input :dashboard_image
    = f.input :short_text
    = f.input :text
    - if @app.new_record?
      .pull-right= f.input :another, as: :boolean, label: 'Add another'
    = ladda_button_tag f.object, 'app' 
    

:javascript
  $('.simple_form').bind('submit', function () {
    var laddaButton = Ladda.create(document.querySelector('.ladda-button'))
    laddaButton.start();
  });
  
