- content_for :meta do
  %meta{ property: 'descriptiopn', content: @app.short_text }
  %meta{ property: 'og:title', content: @app.name }
  %meta{ property: 'og:description', content: @app.short_text }
  %meta{ property: 'og:type', content: 'website' }
  %meta{ property: 'og:url', content: app_url(@app) }
  - if screenshot = @app.screenshots.first
    %meta{ property: 'og:image', content: screenshot.image.non_retina.url }

.back= link_to '&larr;'.html_safe, root_path

.banner
  = image_tag @app.logo.url, class: 'logo'
  %h1
    %span.title= @app.name
    %span.small-subtitle= @app.short_text

.content
  %h3 Some features
  .boxed= @app.rendered_text.try :html_safe

  - if @app.screenshots.count > 0
    %h3 Screenshots
    #app-carousel.owl-carousel.owl-theme
      - @app.screenshots.each do |screenshot|
        .item= retina_image_tag screenshot.image
 
  .footer
    - if @app.download_url.try :present?
      = link_to @app.download_url do
        = image_tag "App Store.svg"
    %p Created by Jelle Vandebeeck
