.back= link_to '&larr;'.html_safe, root_path

.banner
  = image_tag @app.dashboard_image.url, class: 'fadeInDown animated rounded'
  %h1
    %span.title= @app.name
    %span.small-subtitle= @app.short_text

.arrow= link_to '&nbsp;'.html_safe, ''

.content
  %h3 Some features
  .boxed= @app.rendered_text.try :html_safe

  - if @app.screenshots.count > 0
    %h3 Screenshots
    #app-carousel.owl-carousel.owl-theme
      - @app.screenshots.each do |screenshot|
        .item= image_tag screenshot.image.url
 
  .footer
    %p Created by Jelle Vandebeeck
