%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.right{ colspan: '2' } Issued at
      %th Description
      %th.right{ style: 'width: 90px' } Total price
      %th.hidden-xs.right{ style: 'width: 90px' } Tax price
      %th.hidden-xs{ style: 'width: 50px' }

  %tbody
    - expenses.each do |expense|
      %tr{ id: "expense-#{expense.id}" }
        - if expense.document.file.exists?
          %td{ style: 'width: 30px' }= export_tag expense.document.url
        - else
          %td{ style: 'width: 30px' }
        %td.right{ style: 'width: 130px' }= l expense.issued_at, format: :long
        %td
          - if expense.complete?
            = expense.description
          - else
            %span.label.label-danger= expense.description
        %td.right= number_to_currency expense.total_price
        %td.hidden-xs.right= number_to_currency expense.tax_price
        %td.hidden-xs
          = edit_tag edit_expense_path(expense), remote: true
          = delete_tag expense, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

