%table.table.table-hover.table-bordered
  %thead
    %tr
      %th
      %th Issued at
      %th Description
      %th Total price
      %th.hidden-xs Tax price
      %th.hidden-xs

  %tbody
    - expenses.each do |expense|
      %tr{ id: "expense-#{expense.id}" }
        %td= export_image_tag expense.document.url
        %td= l expense.issued_at, format: :long
        %td
          - if expense.complete?
            = expense.description
          - else
            %span.label.label-danger= expense.description
        %td= number_to_currency expense.total_price
        %td.hidden-xs= number_to_currency expense.tax_price
        %td.hidden-xs
          = link_to 'edit', edit_expense_path(expense), remote: true
          = '-'
          = link_to 'destroy', expense, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

