.content
  = simple_form_for(@expense, remote: true, multipart: true) do |f|
    - date = @expense.issued_at ? l(@expense.issued_at, format: :default) : ''
    = f.input :issued_at, as: :string, input_html: { class: 'datepicker', value: date }
    = f.input :description
    = f.input :total_price
    = f.input :tax_price
    = f.input :document
    .pull-right= f.input :another, as: :boolean, label: 'Add another'
    = ladda_button_tag t(:generate, scope: [:projects, :form])
    

:javascript
  $('.datepicker').datepicker({ 
    format: 'dd-mm-yyyy',
    autoclose: true
  });
  $('.simple_form').bind('submit', function () {
    var laddaButton = Ladda.create(document.querySelector('.ladda-button'))
    laddaButton.start();
  });
  
