.content
  %h1= format_quarter_date @filter_date
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Totals
        .panel-body
          %ul
            %li= "Total expenses: #{number_to_currency @expenses.sum(:total_price)}"
            %li= "Total tax: #{number_to_currency @expenses.sum(:tax_price)}"
            %li= "Total net expenses: #{number_to_currency @expenses.sum(:total_price) - @expenses.sum(:tax_price)}"

  .row
    %nav
      %ul.pager
        %li.previous= previous_paginator_tag(@filter_date).html_safe
        %li.current= current_paginator_tag(Date.today).html_safe
        %li.next= next_paginator_tag(@filter_date).html_safe
  
  .row
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Issued at
          %th Description
          %th Total price
          %th Tax price
          %th{ colspan: '1' }

      %tbody
        - @expenses.each do |expense|
          %tr{ class: expense.complete? ? 'success' : '' }
            %td= l expense.issued_at, format: :long
            %td= expense.description
            %td= number_to_currency expense.total_price
            %td= number_to_currency expense.tax_price
            %td
              = link_to 'edit', edit_expense_path(expense)
              = '-'
              = link_to 'destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }
