<p id="notice"><%= notice %></p>

<h1>Listing Expenses for <%= format_quarter_date @filter_date %></h1>

<ul>
  <li>Total expenses: <%= @expenses.sum(:total_price) %> </li>
  <li>Total tax: <%= @expenses.sum(:tax_price) %> </li>
  <li>Total net expenses: <%= @expenses.sum(:total_price) - @expenses.sum(:tax_price) %> </li>
</ul>

<ul>
  <li><%= link_to 'previous Q', expenses_path(date: @filter_date.prev_quarter) %></li>
  <li><%= link_to 'current Q', expenses_path(date: Date.today) %></li>
  <li><%= link_to 'next Q', expenses_path(date: @filter_date.next_quarter) %></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Issued at</th>
      <th>Description</th>
      <th>Total price</th>
      <th>Tax price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr<% unless expense.complete? %> class="incomplete"<% end %>>
        <td><%= expense.issued_at %></td>
        <td><%= expense.description %></td>
        <td><%= expense.total_price %></td>
        <td><%= expense.tax_price %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
