%p= notice

%p
  %strong Issued at:
  = @expense.issued_at
%p
  %strong Description:
  = @expense.description
%p
  %strong Total price:
  = @expense.total_price
%p
  %strong Tax price:
  = @expense.tax_price

= link_to 'Edit', edit_expense_path(@expense)
|
= link_to 'Back', expenses_path
