!!!
%html
  %head
    %title Fousa ~ The Accountant
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }

    = stylesheet_link_tag    'application', data: { 'turbolinks-track' => true }, media: 'all'
    = javascript_include_tag 'application', data: { 'turbolinks-track' => true }
    = csrf_meta_tags

  %body
    .container-narrow
      .masterhead
        = logo_tag
        %ul.nav.pull-right.nav-pills
          - if controller_name == 'quarter'
            %li= add_tag new_invoice_path(filter_date: @filter_date), 'invoice'
            %li= add_tag new_expense_path(filter_date: @filter_date), 'expense'
          - elsif controller_name == 'customers'
            %li= add_tag new_customer_path, 'customer'
          - else
            %li= customers_tag
            %li= quarters_tag
      %hr
      .jumbotron= yield

    .modal.fade#form_modal
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{ type: "button", data: { dismiss: "modal" } }
              %span &times;
            %h4.modal-title
          .modal-body
