!!!
%html
  %head
    %title Fousa ~ The Accountant
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }

    = stylesheet_link_tag    'application', data: { 'turbolinks-track' => true }, media: 'all'
    = javascript_include_tag 'application', data: { 'turbolinks-track' => true }
    = csrf_meta_tags

  %body
    .container-narrow
      .masterhead
        %ul.nav.pull-right.nav-pills
          %li= add_invoice_tag
          %li= add_expense_tag
        = logo_tag
      %hr
      .jumbotron= yield

    .modal.fade#form_modal
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{ type: "button", data: { dismiss: "modal" } }
              %span &times;
            %h4.modal-title
          .modal-body
